* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('back.jpg');
  background-size: cover;
}

header {
  display: flex;
  height: 10vh;
  margin-left: 15vw;
  align-items: center;
  margin-right: 15vw;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: inset 0 0 15px #494444;
}

.logo img {
  height: 40px;
  margin-left: 40px;
  padding-right: 200px;
   fill: #22c55e;
}

.navber {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(98, 255, 1);
  font-size: 20px;
  margin-left: 160px;
}

.hero-section {
  height: 30vh;
  width: 100%;
  margin-top: 40px;
  padding-left: 290px;
  padding-top: 100px;
  /* background-color: #494444; */
  font-size: xx-large;
  color: rgb(168, 149, 149);
  text-shadow: 2px 9px 6px #000000;
  display: flex;
  
}

h1 {
  font-weight: bold;
  font-size: 60px;
}

h2 {
  font-weight: bolder;
  font-size: 70px;
  margin-top: 20px;
}

p {
  font-size: 30px;
  margin-top: 25px;
  opacity: 80%;
  padding-left: 10px;
  margin-bottom: 10px;
}

.img {
  height: 26vh;
  width: 25vh;
  border: 6px solid white;
  margin-left: 130px;
  border-radius: 50%;
  border-style:dotted solid;
  background-image: url('image.jpg');
  background-size: cover;
  box-shadow: inset 0 0 20px #393636;
}

.skills-img-section{
  height: 40vh;
  width: 35vw;
  background-color: antiquewhite;
padding: 6px;
padding-left: 60px;
margin-left: 80px;
padding-top: 10px;
border-radius: 0% 20% 0% 20%;

  
}

h3{
  font-size: 40px;
  font-weight: bold;
  color: brown;
  text-align: center;

}

.skills-img1{
  

}